.error {
  color: red; 
}

.filmCard-container {
  margin-top: 20px; 
  display: flex;
  align-content: space-between;
}

.card-details {
  margin-top: 30px; 
}

.card-header {
  background-color: papayawhip;
  color: #8d99ae;
}